.flex {
  display: flex;
}
.flex-grow {
  flex-grow: 1;
}
.border-black {
  border: 1px solid black;
}
.border-gray {
  border: 1px solid gray;
}
.border-red {
  border: 1px solid red;
}
.border-invisible {
  border: 1px solid transparent;
}
.tiny-pad {
  padding: 1px;
}
.small-pad {
  padding: 3px;
}
.med-pad {
  padding: 5px;
}
.large-pad {
  padding: 10px;
}
.tiny-margin {
  margin: 1px;
}
.small-margin {
  margin: 3px;
}
.med-margin {
  margin: 5px;
}
.large-margin {
  margin: 10px;
}

.border-right {
  border-right: 1px solid #aaa;
}
.pad-right {
  padding-right: 5px;
}
.margin-right {
  margin-right: 5px;
}

.half-height {
  height: 45vh;
}

.small-title {
  margin: 3px;
  padding: 0px;
  font-size: large;
}
.tree-node-container {
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #aaa;
  width: fit-content;
}
.bg-light-green {
  background-color: lightgreen;
}
.container_slot_unfulfilled {
  background-color: lightgray
}
.container_slot_fulfilled {
  background-color: lightgreen
}
.container_instance {
  background-color: lightblue
}
.container_library_operative {
  background-color: lightcyan
}
.container_trait_operative {
  background-color: lightpink
}
.container_constraint_object {
  background-color: lightyellow
}
.width-100 {
  width: 100%;
}
