.tabs-container {
    display: flex;
    border-bottom: 1px solid #ccc;
}

.tab-link {
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    font-weight: bold;
}

.tab-link.active {
    border-bottom-color: #007bff;
    color: #007bff;
}
.tab-content {
    dipslay: none;
    padding: 20px;
    border: 1px solid #ccc;
}

.infonote {
    font-style: italic;
    color: #666;
    padding: 6px;
    background-color: lightyellow;
    width: fit-content;
}

.workspace-container {
    height: 96vh;
    overflow: scroll;
}

.clickable-list-item {
    /* padding: 10px 20px; */
    text-decoration: none;
    color: #333;
    /* border-bottom: 2px solid transparent; */
    cursor: pointer;
    font-weight: bold;
}
.clickable-list-item:hover {
    color: #999;
}
.clickable-list-item.active {
    color: #007bff;
}

.list-container {
    margin: 10px;
}

.editing-space-container {
    margin: 10px;
}

.section {
    border-radius: 3px;
    background-color: #ccc;
    padding: 6px;
    margin: 3px;
    margin-bottom: 10px;
}
.section-header {
    margin: 0px;
}
.subsection {
    border-radius: 3px;
    background-color: #ddd;
    padding: 6px;
    margin: 2px;
    margin-left: 6px;
    margin-bottom: 6px;
}
.subsection-header {
    margin: 0px;
}
.leafsection {
    border-radius: 3px;
    background-color: #eee;
    padding: 6px;
    margin-left: 12px;
}
.leafsection.dependent {
    border-left: 4px dotted #888;
}
.leafsection-header {
    margin: 0px;
}

.flex {
    display: flex;
}
.align-right {
    text-align: right;
}
.flex-grow {
    flex-grow: 1;
}

.collapsed-children {
    height: 0px;
    overflow: none;
    visibility: hidden;
}

.hidden {
    height: 0px;
    overflow: none;
    visibility: hidden;
}

.method-impl {
    width: fit-content;
    border-radius: 5px;
    border: 1px solid green;
    margin: 5px;
    padding: 5px;
}
.method-impl.outstanding {
    border-color: greenyellow;
}

.method-impl.entry {
    background-color: lightgreen;
}

.method-impl.exit {
    border-color: darkgreen;
}

.exec-val-container {
    padding: 10px;
}
.collection-exec-val {
    background-color: lightgoldenrodyellow;
}
.single-exec-val {
}

.graph_canvas_holder {
    border: 1px solid black;
}
.graph_canvas_holder.popout {
    position: absolute;
    height: 96%;
    width: 96%;
    top: 2%;
    left: 2%;
}
